<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE8">
    <title>前端帮助文档</title>
    <link rel="stylesheet" type="text/css" href="../css/markdown.css"/>
    <link rel="stylesheet" type="text/css" href="../css/github.css"/>
    <link rel="stylesheet" type="text/css" href="../iconfont/sysicon/iconfont.css"/>
    <!-- <script src="../js/BrowserType.js" charset="utf-8"></script> -->
    <style>
    .out{
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    </style>
</head>
<body>
<div id="root">
  <img class="out" src="../images/loading.gif"/>
</div>
<script src="../dlls/vendor.dll.js"></script>
</body>
</html>
